{% extends 'admin_home.html'%}
{% block title %}
category
{% endblock %}
{% block body %}
<div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Product List</h4>
          </div>
          <td class=""><a href="{% url 'add_collection'%}"><button class="btn btn-primary">ADD</button></a> </td>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table" id="mytable">
                <thead class=" text-primary">
                  <th>
                    NO
                  </th>
                  <th>
                    Product name
                  </th>
                  
                  
                  <th class="text-right">
                    category
                  </th>
                  <th class="text-right">
                    qty
                  </th>
                  <th class="text-right">
                    image
                  </th>
                  <th >
                    
                  </th>
                  <th >
                    
                  </th>
                
                  
                </thead>
                <tbody>
                    {% for obj in product %}
                  <tr>
                    <td>
                        {{forloop.counter}}
                    </td>
                    <td>
                        {{obj.name}}
                    </td>
                    
                   
                    <td class="text-right">
                      {{obj.category}}
                  </td>
                  <td class="text-right">
                    {{obj.quantity}}
                </td>
                    <td><img src="{{obj.image.url}}" class="img-fluid rounded-start" style="height: 50px; width: 50px;"  alt="..."></td>
                     
                    <td><a href="updateProduct/{{obj.pk}}"><button class="btn btn-primary">Edit</button></button></a> </td>
                      <td><a href="deletesss/{{obj.id}}"><button class="btn btn-danger">delete</button></button></a> </td>
                </tr>
                  {% endfor %}
                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <script src=" https://code.jquery.com/jquery-3.5.1.js"></script> 
      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
      <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.3.4/js/dataTables.buttons.min.js"></script>
      <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
      <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
      <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.html5.min.js"></script>
      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.print.min.js"></script>
    
   
   
   <script>
    $(document).ready(function() {
        $('#mytable').DataTable({
            
        });
    });
</script>
            

{% endblock %}