{% extends 'localbase.html'%}

{% block title %}change password{% endblock %}
{% block body %}
<div class="col-xl-8 mx-auto">
  <!-- Account details card-->

<hr class="mt-0 mb-4">
<div class="card mb-4">
      <div class="card-header">Edit Details
         
      </div>
      
      <div class="card-body">
          <form method="post">
              {%csrf_token%}
            
              <div class="mb-3">
                  <label class="small mb-1 float-left"> USERNAME</label>
                  <input class="form-control" id="inputUsername" type="text"  name="fname" placeholder="Enter your USERNAME" value="{{address.fname}}" >
              </div>
            </div>
            <button class="btn btn-primary btn-lg float-right" value="submit" type="submit">UPDATE</button>
          
    
    </form></center>  
        </div>
{% endblock %}